<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>EmisoraRadioLocal</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletEmisora</display-name>
    <servlet-name>ServletEmisora</servlet-name>
    <servlet-class>es.accenture.emisora.servlets.ServletEmisora</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEmisora</servlet-name>
    <url-pattern>/ServletEmisora</url-pattern>
  </servlet-mapping>
  
  <resource-ref>
		<res-ref-name>jdbc/emisora</res-ref-name>
		<res-type>java.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>